In [ ]:
# Practice Exercises

In [1]:
import pandas as pd

In [3]:
MTN = pd.read_csv("C:/Users/popoolaio/Downloads/phone_data.csv")

In [4]:
MTN.head()

   index              date  duration  item    month   network network_type
0      0  15/10/2014 06:58    34.429  data  2014-11      data         data
1      1  15/10/2014 06:58    13.000  call  2014-11  Vodafone       mobile
2      2  15/10/2014 14:46    23.000  call  2014-11    Meteor       mobile
3      3  15/10/2014 14:48     4.000  call  2014-11     Tesco       mobile
4      4  15/10/2014 17:27     4.000  call  2014-11     Tesco       mobile

In [5]:
MTN.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830 entries, 0 to 829
Data columns (total 7 columns):
index           830 non-null int64
date            830 non-null object
duration        830 non-null float64
item            830 non-null object
month           830 non-null object
network         830 non-null object
network_type    830 non-null object
dtypes: float64(1), int64(1), object(5)
memory usage: 29.2+ KB

In [7]:
MTN.network

0           data
1       Vodafone
2         Meteor
3          Tesco
4          Tesco
5          Tesco
6           data
7          Three
8          Three
9      voicemail
10         Three
11        Meteor
12        Meteor
13          data
14         Tesco
15         Tesco
16        Meteor
17      Vodafone
18      Vodafone
19         Three
20      Vodafone
21         Tesco
22      Vodafone
23      Vodafone
24      Vodafone
25      Vodafone
26          data
27         Tesco
28      Vodafone
29      Vodafone
         ...
800    voicemail
801    voicemail
802       Meteor
803        Tesco
804         data
805     landline
806        Three
807     Vodafone
808     Vodafone
809     Vodafone
810        Three
811         data
812     Vodafone
813     Vodafone
814        Three
815        Three
816     landline
817         data
818         data
819         data
820         data
821         data
822         data
823         data
824         data
825        world
826     Vodafone
827         data
828        world
829        world
Name: network, Length: 830, dtype: object

In [8]:
MTN.network.value_counts()

Vodafone     215
Three        215
data         150
Meteor        87
Tesco         84
landline      42
voicemail     27
world          7
special        3
Name: network, dtype: int64

In [9]:
MTN.network.value_counts().reset_index()

       index  network
0   Vodafone      215
1      Three      215
2       data      150
3     Meteor       87
4      Tesco       84
5   landline       42
6  voicemail       27
7      world        7
8    special        3